<div id="<%= dom_id course %>">
  <p>
    <strong>Coding class:</strong>
    <%= course.title %>
  </p>

  <p>
    <strong>Trimester:</strong>
    <%= "#{course.trimester.term} #{course.trimester.year}" %>
  </p>

  <strong>Enrolled students</strong>

<% if course.students.any? %>
  <ul>
    <% course.students.each do |student| %>
      <li><%= student.first_name %> <%= student.last_name %></li>
    <% end %>
  </ul>
<% else %>
  <p>No students enrolled yet.</p>
<% end %>

  <p>
    <strong>Max enrollment:</strong>
    <%= course.max_enrollment %>
  </p>

</div>
